<article class="container mx-auto px-2" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="mt-4 mb-2 clearfix header-text">
    <h1 class="h0 inline-block py-2 mt-4 header-title">{{ .Title }}</h1>
    <div class="clearfix mb-4 py-1">
      <p class="h4 lh-condensed">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00"  }}" itemprop="datePublished">{{ .Date.Format "January 2, 2006"  }}</time></p>
      <div class="col-1 sm-width-full border-top-thick">
      </div>
    </div>
  </div>

  <div class="prose py-4" itemprop="articleBody">
    {{ .Content }}
  </div>
</article>

<div class="container mx-auto px-2 py-2 clearfix">
  {{ partial "previous-next.html" . }}
</div>
